.version.gallery{color:#0000F7;background-color:#29E78E;}
#page{z-index:1;min-height:689px;background-image:none;border-width:0px;border-color:#000000;background-color:transparent;width:100%;max-width:1280px;margin-left:auto;margin-right:auto;}
#pu4516-4{z-index:142;width:0.01px;padding-bottom:62px;margin-right:-10000px;margin-top:62px;}
#u4516-4{z-index:142;width:58px;position:fixed;top:62px;left:54px;background-color:transparent;color:#00FFFF;font-size:19px;line-height:23px;}
#u4516-4:hover{padding-top:0px;padding-bottom:0px;min-height:0px;width:58px;margin:0px;}
#u4516-4:hover p{color:#000000;visibility:inherit;}
#u4517-4:hover p{color:#000000;visibility:inherit;}
#u4517-4{z-index:146;width:64px;position:fixed;top:101px;left:54px;background-color:transparent;color:#00FFFF;font-size:19px;line-height:23px;}
#u4517-4:hover{padding-top:0px;padding-bottom:0px;min-height:0px;width:64px;margin:0px;}
#contents{z-index:0;padding-bottom:0px;margin-right:-10000px;margin-top:62px;width:13.91%;margin-left:12.35%;}
